---
import Navigation from '../components/Navigation.astro';
import '../styles/main.scss';

const { pageTitle, name = '', description='' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>WPCare</title>
  </head>
  <body class="app">
    <header class="header">
      <button class="btn btn-icon">MENU x24</button>
      <a href="/">
        <h1 class="header__title">WPCare</h1>
      </a>

      <form>
        <div class="inputgroup all">
          <input class="inputgroup--input" type="text" name="search" id="header_search">
          ICON Search x16
        </div>
      </form>
      
    </header>

    <Navigation />
    
    <main class="main">
      <section class={name}>
        <div class="main__background"></div>
        <div class="main__wrapper">
          <div class="main__header">
            <h2 class="main__title">{pageTitle}</h2>
            <p class="main__description">{description}</p>
          </div>
          <div class="content">

            <slot />

          </div>
        </div>
      </section>
    </main>
  </body>
</html>
