---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Header for Dashboard";
---

<BaseLayout pageTitle={pageTitle} name="dashboard" description="Subtitle for dashboard including a brief explanation.">
  
  <div class="row-1">
    <div class="box">
      <div class="box__title">
        <h3 class="box__title--text">Box title: Sites</h3>
      </div>
      <div class="box__content">
        <p>Content</p>
        <table></table>
      </div>
    </div>
  </div>

</BaseLayout>
