.sidenav {
  width: $width_sidenav;
  height: 100vh;
  z-index: 0;

  font-size: .9rem;

  &__menu {
    height: calc( 100vh - $height_header - $height_loginbox );
    transform: translateY($height_header);
    overflow: hidden scroll;
  }

  &__menulink {
    display: flex;
    align-items: center;
    padding: .75rem 1rem;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }


&__footer {
  height: $height_loginbox;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: .75rem;
  
  font-size: .9rem;
  background-color: rgba(33,40,50,.05);
  color: #212832;
  
  transform: translateY($height_header);

  &--subtitle {
    font-size: .75rem;
    font-weight: 300
  }
  
  &--title {
    font-size: .9rem
  }
}


}