@import './core/reset';
@import './core/mixins';
@import './core/measures';
@import './core/colors';
@import './core/effects';
@import './core/layout';

@import './layout/header';
@import './layout/navigation';

@import './components/buttons';

:root {
  font-family: "Metropolis", "Roboto", "Arial";
  font-style: normal;
  font-weight: 300;
}