---
import './Table.scss';

import sitesData from '../data/sites.json';

const {data, columns} = Astro.props;

const columnNames = columns.map(c => c.name);
---

<table class="magictable">
  <caption>mes</caption>
  <thead>
    <tr>
      {
        columns.map( c => (
          <th class={c.importance === 1 && "important"} scope="col">{c.name}</th>    
        ))
      }
    </tr>
  </thead>
  <tbody>
    {
      data.map( row => (
      <tr>
        {
          columns.map( (c, idx) => (
            <td scope={idx === 0 && "row"}>{row[c.property]}</td>
          ))
        }
      </tr>
      ))
    }
    <tfoot>
      <tr>
        <td class="magictable__pagination" colspan="4">
          <button class="pagination__button">&lt;</button>
          <button class="pagination__button active">1</button>
          <button class="pagination__button">&gt;</button>
        </td>
      </tr>
    </tfoot>
  </tbody>
</table>