.app {
  position: relative;
  height: 100vh;
}

.main {
  position: absolute;
  top: $height_header;
  left: $width_sidenav;
  width: calc(100vw - $width_sidenav);
  height: calc(100vh - $height_header);
  z-index: 0;

  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ecf0f6;
  color: hsla(0,0%,100%,.5);
  transition: left .15s ease-in-out, width .15s ease-in-out;

}



/*
.hidden+.main {
  left: 0;
  width: 100vw;
  @include desktop() {
    left: $width_sidenav;
    width: calc(100vw - $width_sidenav);
  }
}
*/