.app {
  position: relative;
  height: 100vh;
}

.main {
  position: absolute;
  top: $height_header;
  left: $width_sidenav;
  width: calc(100vw - $width_sidenav);
  height: calc(100vh - $height_header);
  z-index: 0;

  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ecf0f6;
  color: hsla(0,0%,100%,.5);
  transition: left .15s ease-in-out, width .15s ease-in-out;


  &__background {
    width: 100%;
    height: $height_gradient_background;
    position: absolute;
    z-index: -1;

    background-color: #0061f2!important;
    background-image: linear-gradient(135deg,#0061f2,rgba(105,0,199,.8))!important;
  }
}



/*
.hidden+.main {
  left: 0;
  width: 100vw;
  @include desktop() {
    left: $width_sidenav;
    width: calc(100vw - $width_sidenav);
  }
}
*/