---
---

<style lang="scss">
  .menu {
    &__list {
      display: flex;
      list-style-type: none;
    }
  }
</style>

<nav class="menu">
  <ul class="menu__list">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About us</a></li>
  </ul>
</nav>