---

const menu = [
  {
    name: 'Home',
    icon: 'house',
    link: '/'
  },
  {
    name: 'About us',
    icon: 'people',
    link: '/about'
  }
];
---

<section class="sidenav shadow-right js__sidenav">
  <nav class="sidenav__menu">
    <ul>
      {
        menu.map( menuitem =>
          <li><a href={menuitem.link} class="sidenav__menulink">{menuitem.name}</a></li>
        )
      }
    </ul>
  </nav>
  <dl class="sidenav__footer">
    <dt class="sidenav__footer--subtitle">Logged in as:</dt>
    <dd class="sidenav__footer--title">Christine de Pizan</dd>
  </dl>
</section>
<script>
  const nav = document.querySelector('.js__sidenav');
  const menuIcon = document.querySelector('.js__menuicon')

  const handleClickMenuButton = (ev) => {
    ev.preventDefault();
    nav.classList.toggle('hidden');
    menuIcon.blur();
  }

  menuIcon.addEventListener('click', handleClickMenuButton);
</script>